@media(max-width: 1500px) {
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prevMain {
    left: 8%
  }
  .swiper-button-nextMain {
    right: 8%
  }
}

@media(max-width: 1400px) {
  html {
    font-size: 9px;
  }
  .mainHeadlineWrap {
    padding-left: 7rem;
  }
  .s2-btnWrapper, .s4-btn {
    align-items: flex-end;
  }
  .s3-btnBox {
    align-self: end
  }
  .conuterDivWrapper {
    grid-gap: 10rem
  }
  .mainHeadline {
    padding-left: 5rem
  }
  /* #fp-nav ul::after, .fp-slidesNav ul {
    content: '›';
    color: #fff;
    position: absolute;
    top: -6rem;
    transform: rotate(-90deg);
    font-size: 6.6rem;
    left: .4rem;
  }
  #fp-nav ul::before, .fp-slidesNav  ul {
    content: '›';
    color: #fff;
    position: absolute;
    bottom: -6.6rem;
    transform: rotate(90deg);
    font-size: 6.6rem;
    left: 1.5rem;
  }*/
}

@media(max-width: 1300px) {
  .swiper-button-prevMain {
    left: 6%
  }
  .swiper-button-nextMain {
    right: 6%
  }
}

@media(max-width: 1200px) {
  .footerContactsWrap {
    grid-template-columns: 1fr;
  }
  .slide-5 {
    background-image: url(img/interior-2.jpg)
  }
  .swiper-button-prevMain {
    left: 1%
  }
  .swiper-button-nextMain {
    right: 1%
  }
  .linkUp {
    right: 4%;
  }
  .section-1-wrap {
    height: 650px ;
  }
  .footerNetwork {
    padding: 1rem 0;
  }
  .subsequentSection {
    padding: 0 0;
  }
  .network, .contacts {
    display: none;
  }
  .mainHeadline {
    padding: 0;
  }
}

@media(max-width: 1100px) {

  .mainHeadlineWrap > div {
    justify-content: center;
  }
  .mainHeadline {
    padding-left: 0;
  }
  .mainHeadlineWrap {
    padding-left: 0;
  }
  html {
    font-size: 8.3px;
  }
}

@media(max-width: 1000px) {
  .s3-contentCenterBox, .s7-contentWrap {
    grid-template-columns: 1fr;
  }
  .s3-rightBox {
    display: none;
  }
}

@media(max-width: 900px) {
  .headerNav {
    display: none;
  }
  .headerWrap {
    background-color: #111111;
    position: fixed;
    width: 100%;
  }
  .mainHeadline {
    padding-top: 16rem
  }
  .headerNavBtn {
    display: flex
  }
  .header {
    justify-content: space-between;
    padding: 0 1rem
  }
  .featuresWrapper {
    grid-template-columns: 1fr;
  }
  .s4-iconBoxWrapper {
    grid-column: 1/3;
  }
  .conuterDivWrapper {
    grid-template-columns: 1fr;
    width: 80%
  }
}

@media(max-width: 750px) {
  .contentBox {
    padding: 2rem 3rem
  }
}

@media(max-width: 700px) {
  .conuterDivWrapper {
    width: 100%
  }
  .swiper-button-prev {
    left: -2rem;
    border: none
  }
  .swiper-button-next {
    right: -2rem;
    border: none
  }
  .swiper-button-prev:hover {
    left: -2rem;
    border: none
  }
  .swiper-button-next:hover {
    right: -2rem;
    border: none
  }
  .swiper-button-prevMain {
    left: 1%;
    transform: translateY(100%);
  }
  .swiper-button-nextMain {
    right: 1%;
    transform:  translateY(100%);
  }
  .swiper-button-prevMain:hover {
    left: 1%;
    transform: translateY(100%);
  }
  .swiper-button-nextMain:hover {
    right: 1%;
    transform:  translateY(100%);
  }
}

@media(max-width: 460px) {
  .mainHeadline > h2 {
    font-size: 2.1rem;
  }
  .linkUp {
    transform: scale(0.9) rotate(-90deg);
  }
  .animationBtn,
  .animationBtn:active,
  .animationBtn:visited,
  .animationBtn:hover,
  .animationBtn2,
  .animationBtn2:hover,
  .animationBtn2:active,
  .animationBtn2:visited,
  .animationBtn3,
  .animationBtn3:hover,
  .animationBtn3:active,
  .animationBtn3:visited,
  .animationBtn4,
  .animationBtn4:hover,
  .animationBtn4:active,
  .animationBtn4:visited,
  .animationBtn5,
  .animationBtn5:hover,
  .animationBtn5:active,
  .animationBtn5:visited {
    transform: scale(0.9);
    margin-left: -20px
  }
  .swiper-image2 {
    flex-direction: column;
    text-align: center;
  }
  .swiper-image2 > img {
    margin-bottom: 1rem;
  }
  .mainHeadline > h1 {
    font-size: 7rem;
    letter-spacing: 1.5rem
  }
}

@media(max-width: 460px) {
  .linkUp {
    right: 10%
  }
}
