@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap");
html, body {
  scroll-behavior: smooth;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, h5, h6, p, span, input {
  outline: none;
  margin: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.dlBtn1 {
  border: 10px solid red;
  z-index: 101;
  position: fixed;
  top: 0;
  right: 3.5rem;
  background-color: white;
  border: none;
  color: #000;
  font-weight: 700;
  font-size: 1.4rem;
  border-radius: 0 0 .5rem .5rem;
  letter-spacing: .5rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 3rem;
  -webkit-transform: translateY(-0.4rem);
  -ms-transform: translateY(-0.4rem);
  transform: translateY(-0.4rem);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  width: 10rem; }
  .dlBtn1:hover {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-shadow: 0px 1px 7px 1px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 1px 7px 1px rgba(255, 255, 255, 0.75); }

.dlBtn2 {
  display: none;
  z-index: 101;
  width: 10rem;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  top: 0;
  right: 3.5rem;
  position: fixed;
  background-color: black;
  border: none;
  color: #fff;
  font-weight: 700;
  font-family: 'Poiret One', cursive;
  font-size: 1.4rem;
  border-radius: 0 0 .5rem .5rem;
  letter-spacing: .5rem;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 3rem;
  -webkit-transform: translateY(-0.4rem);
  -ms-transform: translateY(-0.4rem);
  transform: translateY(-0.4rem); }
  .dlBtn2:hover {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.75); }

.section-1-wrap {
  min-width: 100%;
  position: relative;
  height: 100vh; }

.section-1 {
  position: absolute;
  z-index: 93;
  width: 100%;
  top: 0;
  left: 0;
  height: 90%;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.headerLogo {
  width: 6.5rem;
  height: 4.3rem;
  background-image: url(img/logoDark.png);
  background-repeat: no-repeat;
  background-size: cover; }

.headerWrap {
  z-index: 93;
  padding: 2.5rem 0 1.5rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  width: 100%;
  background-color: rgba(8, 8, 8, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.headerNav ul {
  padding: 0;
  list-style: none; }

.headerNav > ul {
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .headerNav > ul li {
    position: relative;
    margin: 0 1.3rem;
    font-size: 1.6rem; }
    .headerNav > ul li:hover > ul {
      display: block; }
    .headerNav > ul li ul {
      position: absolute;
      min-width: 165px;
      background-color: #444444;
      padding-top: .5rem;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      display: none; }
      .headerNav > ul li ul li {
        padding: .7rem 0 .7rem 1rem;
        margin: 0; }
        .headerNav > ul li ul li ul {
          right: -165px;
          top: 0;
          margin: 0; }
        .headerNav > ul li ul li:hover {
          background-color: red;
          width: 100%;
          background-color: #333333; }
    .headerNav > ul li a {
      display: block;
      color: #fff;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .headerNav > ul li a:hover {
        text-decoration: none;
        color: #BD843A; }

.ul1 {
  min-width: 100px; }

.headerNav > li:hover .headerNav1_inside {
  display: block; }

.headerNav1_inside {
  min-width: 130px;
  background-color: rgba(21, 21, 21, 0.9);
  list-style: none;
  padding: 1rem 0 1rem 0;
  position: absolute;
  margin: 0;
  display: none; }

.linkUp {
  position: fixed;
  display: none;
  background-color: #F7AB48;
  z-index: 999;
  height: 60px;
  width: 60px;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  bottom: 5%;
  right: 8%; }
  .linkUp:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transform: translateY(-5px) rotate(-90deg);
    -ms-transform: translateY(-5px) rotate(-90deg);
    transform: translateY(-5px) rotate(-90deg);
    -webkit-box-shadow: 0 0 5px 1px #fff;
    box-shadow: 0 0 5px 1px #fff; }
  .linkUp::before {
    content: '➙';
    position: absolute;
    line-height: 0;
    top: 50%;
    left: 17%;
    font-size: 40px; }

.headerNav2_inside {
  top: 0;
  left: 130px; }
  .headerNav2_inside li {
    background-color: red;
    position: absolute; }

.headhesive {
  padding: 2.2rem 0 1.5rem 0;
  background-color: #111111;
  z-index: 100;
  position: fixed;
  width: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }

.headhesive--stick {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.headhesiveLight {
  background-color: #fff; }

.headerNavBtnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.headerNavBtn {
  width: 7rem;
  display: none;
  padding: 0 2rem 0 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .headerNavBtn span {
    background-color: #fff;
    position: relative;
    height: 2px;
    width: 100%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 2rem; }
    .headerNavBtn span::before {
      content: '';
      position: absolute;
      border-radius: 2rem;
      height: 2px;
      width: 100%;
      background-color: #fff;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      -webkit-transform: translateY(-1.4rem);
      -ms-transform: translateY(-1.4rem);
      transform: translateY(-1.4rem); }
    .headerNavBtn span::after {
      content: '';
      position: absolute;
      border-radius: 2rem;
      height: 2px;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      width: 100%;
      background-color: #fff;
      -webkit-transform: translateY(1.4rem);
      -ms-transform: translateY(1.4rem);
      transform: translateY(1.4rem); }

.headerNavBtnActive span {
  height: 0; }
  .headerNavBtnActive span::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .headerNavBtnActive span::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.cart {
  display: inline-block;
  text-decoration: none;
  background-image: url(img/cartDark.png);
  margin-right: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 2.5rem;
  width: 2.5rem;
  position: relative; }
  .cart::before {
    content: '10';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F7AB48;
    top: 0;
    -webkit-transform: translateY(-45%) translateX(45%);
    -ms-transform: translateY(-45%) translateX(45%);
    transform: translateY(-45%) translateX(45%);
    right: 0;
    border-radius: 50%; }

.cartLight {
  background-image: url(img/cartLight.png);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.shoppingCartWrap {
  width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.shoppingCart {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-weight: 700; }
  .shoppingCart > span {
    font-size: 1.6rem;
    color: #fff; }

.headerLight a {
  color: #4f4f4f;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.headerLight span {
  color: #4f4f4f;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.search {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative; }
  .search > input::-webkit-input-placeholder {
    color: #fff; }
  .search > input:-ms-input-placeholder {
    color: #fff; }
  .search > input::-ms-input-placeholder {
    color: #fff; }
  .search > input::placeholder {
    color: #fff; }

.searchInput {
  color: #fff;
  font-weight: 700;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.4rem;
  padding: .2rem .5rem .2rem 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #fff;
  position: absolute;
  width: 0;
  opacity: 0; }

.shoppingCartActive {
  position: absolute;
  opacity: 0; }

.searchInputActive {
  width: 100%;
  position: relative;
  opacity: 1; }

.searchIcon {
  background-image: url(img/searchDark.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85% 85%;
  height: 2.5rem;
  width: 2.5rem;
  border-bottom: 1px solid #fff;
  cursor: pointer; }

.searchLight > div {
  background-image: url(img/searchLight.png);
  border-bottom: 1px solid #4f4f4f;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.searchLight > input {
  border-bottom: 1px solid #4f4f4f;
  color: #4f4f4f;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .searchLight > input::-webkit-input-placeholder {
    color: #4f4f4f; }
  .searchLight > input:-ms-input-placeholder {
    color: #4f4f4f; }
  .searchLight > input::-ms-input-placeholder {
    color: #4f4f4f; }
  .searchLight > input::placeholder {
    color: #4f4f4f; }

.network {
  z-index: 95;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: .2rem;
  height: 100%;
  width: 10.3rem; }
  .network > a {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    font-size: 1.6rem;
    position: relative;
    margin: 8rem 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .network > a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #BD843A;
      height: 2px;
      width: 0%;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .network > a:hover {
      color: #BD843A; }
    .network > a:hover::before {
      width: 50%; }

.infoCompany {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .infoCompany > a {
    font-size: 3.5rem;
    text-decoration: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.75);
    height: 5rem;
    width: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 400;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .infoCompany > a:hover {
      color: white;
      border: 2px solid white; }
  .infoCompany > p {
    font-size: 1.6rem;
    padding-left: 2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.75); }

.contacts {
  z-index: 95;
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: .2rem;
  height: 100%;
  width: 10.3rem; }
  .contacts > a {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    font-size: 1.6rem;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center; }
    .contacts > a:hover {
      color: #BD843A; }

.mainHeadlineWrap {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .mainHeadlineWrap > div {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.mainHeadlineWrapLight > div h2 {
  color: #4f4f4f;
  text-shadow: 0px 0px 1px #f0f0f0; }

.mainHeadlineWrapLight > div p {
  color: #4f4f4f;
  text-shadow: 0px 0px 1px #f0f0f0; }

.mainHeadline {
  padding: 6rem 0;
  text-align: center; }
  .mainHeadline > h2 {
    color: #fff;
    font-weight: 700;
    font-size: 3.6rem;
    letter-spacing: 0.55rem;
    line-height: 4.4rem;
    padding-bottom: 2rem; }
  .mainHeadline > h1 {
    color: #F7AB48;
    font-size: 8.5rem;
    letter-spacing: 2.750rem;
    font-weight: 400;
    font-family: 'Poiret One', cursive;
    line-height: 9.9rem;
    border-top: 1px solid #F7AB48;
    border-bottom: 1px solid #F7AB48;
    display: inline;
    wdth: auto;
    padding: .5rem 0; }
  .mainHeadline > p {
    padding-top: 2rem;
    padding-bottom: 7rem;
    font-size: 1.6rem;
    color: #fff;
    line-height: 2rem; }

.animationBtn,
.animationBtn:active,
.animationBtn:visited,
.animationBtn:hover,
.animationBtn2,
.animationBtn2:hover,
.animationBtn2:active,
.animationBtn2:visited,
.animationBtn3,
.animationBtn3:hover,
.animationBtn3:active,
.animationBtn3:visited,
.animationBtn4,
.animationBtn4:hover,
.animationBtn4:active,
.animationBtn4:visited,
.animationBtn5,
.animationBtn5:hover,
.animationBtn5:active,
.animationBtn5:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.7rem;
  padding: 2rem 1.5rem;
  border: 2px solid rgba(247, 171, 72, 0.75);
  border-right: none;
  color: rgba(247, 171, 72, 0.75);
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s; }
  .animationBtn::after,
  .animationBtn:active::after,
  .animationBtn:visited::after,
  .animationBtn:hover::after,
  .animationBtn2::after,
  .animationBtn2:hover::after,
  .animationBtn2:active::after,
  .animationBtn2:visited::after,
  .animationBtn3::after,
  .animationBtn3:hover::after,
  .animationBtn3:active::after,
  .animationBtn3:visited::after,
  .animationBtn4::after,
  .animationBtn4:hover::after,
  .animationBtn4:active::after,
  .animationBtn4:visited::after,
  .animationBtn5::after,
  .animationBtn5:hover::after,
  .animationBtn5:active::after,
  .animationBtn5:visited::after {
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    content: '→';
    color: rgba(247, 171, 72, 0.75);
    position: absolute;
    font-size: 4rem;
    right: -15%;
    top: 28%; }
  .animationBtn:hover,
  .animationBtn:active:hover,
  .animationBtn:visited:hover,
  .animationBtn:hover:hover,
  .animationBtn2:hover,
  .animationBtn2:hover:hover,
  .animationBtn2:active:hover,
  .animationBtn2:visited:hover,
  .animationBtn3:hover,
  .animationBtn3:hover:hover,
  .animationBtn3:active:hover,
  .animationBtn3:visited:hover,
  .animationBtn4:hover,
  .animationBtn4:hover:hover,
  .animationBtn4:active:hover,
  .animationBtn4:visited:hover,
  .animationBtn5:hover,
  .animationBtn5:hover:hover,
  .animationBtn5:active:hover,
  .animationBtn5:visited:hover {
    border: 2px solid #fff;
    color: #fff;
    border-right: none; }
  .animationBtn:hover::after,
  .animationBtn:active:hover::after,
  .animationBtn:visited:hover::after,
  .animationBtn:hover:hover::after,
  .animationBtn2:hover::after,
  .animationBtn2:hover:hover::after,
  .animationBtn2:active:hover::after,
  .animationBtn2:visited:hover::after,
  .animationBtn3:hover::after,
  .animationBtn3:hover:hover::after,
  .animationBtn3:active:hover::after,
  .animationBtn3:visited:hover::after,
  .animationBtn4:hover::after,
  .animationBtn4:hover:hover::after,
  .animationBtn4:active:hover::after,
  .animationBtn4:visited:hover::after,
  .animationBtn5:hover::after,
  .animationBtn5:hover:hover::after,
  .animationBtn5:active:hover::after,
  .animationBtn5:visited:hover::after {
    color: #fff; }

.animationBtnLight,
.animationBtnLight:active,
.animationBtnLight:visited,
.animationBtnLight:hover,
.animationBtn2Light,
.animationBtn2Light:hover,
.animationBtn2Light:active,
.animationBtn2Light:visited,
.animationBtn3Light,
.animationBtn3Light:hover,
.animationBtn3Light:active,
.animationBtn3Light:visited,
.animationBtn4Light,
.animationBtn4Light:hover,
.animationBtn4Light:active,
.animationBtn4Light:visited,
.animationBtn5Light,
.animationBtn5Light:hover,
.animationBtn5Light:active,
.animationBtn5Light:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.7rem;
  padding: 2rem 1.5rem;
  border: 2px solid rgba(247, 171, 72, 0.75);
  border-right: none;
  color: rgba(247, 171, 72, 0.75);
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s; }
  .animationBtnLight::after,
  .animationBtnLight:active::after,
  .animationBtnLight:visited::after,
  .animationBtnLight:hover::after,
  .animationBtn2Light::after,
  .animationBtn2Light:hover::after,
  .animationBtn2Light:active::after,
  .animationBtn2Light:visited::after,
  .animationBtn3Light::after,
  .animationBtn3Light:hover::after,
  .animationBtn3Light:active::after,
  .animationBtn3Light:visited::after,
  .animationBtn4Light::after,
  .animationBtn4Light:hover::after,
  .animationBtn4Light:active::after,
  .animationBtn4Light:visited::after,
  .animationBtn5Light::after,
  .animationBtn5Light:hover::after,
  .animationBtn5Light:active::after,
  .animationBtn5Light:visited::after {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    content: '→';
    color: rgba(247, 171, 72, 0.75);
    position: absolute;
    font-size: 4rem;
    right: -15%;
    top: 28%; }
  .animationBtnLight:hover,
  .animationBtnLight:active:hover,
  .animationBtnLight:visited:hover,
  .animationBtnLight:hover:hover,
  .animationBtn2Light:hover,
  .animationBtn2Light:hover:hover,
  .animationBtn2Light:active:hover,
  .animationBtn2Light:visited:hover,
  .animationBtn3Light:hover,
  .animationBtn3Light:hover:hover,
  .animationBtn3Light:active:hover,
  .animationBtn3Light:visited:hover,
  .animationBtn4Light:hover,
  .animationBtn4Light:hover:hover,
  .animationBtn4Light:active:hover,
  .animationBtn4Light:visited:hover,
  .animationBtn5Light:hover,
  .animationBtn5Light:hover:hover,
  .animationBtn5Light:active:hover,
  .animationBtn5Light:visited:hover {
    border: 2px solid #4f4f4f;
    color: #4f4f4f;
    border-right: none; }
  .animationBtnLight:hover::after,
  .animationBtnLight:active:hover::after,
  .animationBtnLight:visited:hover::after,
  .animationBtnLight:hover:hover::after,
  .animationBtn2Light:hover::after,
  .animationBtn2Light:hover:hover::after,
  .animationBtn2Light:active:hover::after,
  .animationBtn2Light:visited:hover::after,
  .animationBtn3Light:hover::after,
  .animationBtn3Light:hover:hover::after,
  .animationBtn3Light:active:hover::after,
  .animationBtn3Light:visited:hover::after,
  .animationBtn4Light:hover::after,
  .animationBtn4Light:hover:hover::after,
  .animationBtn4Light:active:hover::after,
  .animationBtn4Light:visited:hover::after,
  .animationBtn5Light:hover::after,
  .animationBtn5Light:hover:hover::after,
  .animationBtn5Light:active:hover::after,
  .animationBtn5Light:visited:hover::after {
    color: #4f4f4f; }

.animationBtn5Wrap {
  margin: 6rem 0 2.5rem 0; }

.s2-contentBoxCenter {
  padding-top: 2rem; }

.s2-btnWrapper {
  padding-top: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.contentBox {
  -webkit-box-shadow: inset 0 0 20px 3px #151515;
  box-shadow: inset 0 0 20px 3px #151515;
  background-color: #1D1D1D;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 4rem 7.7rem;
  color: #fff;
  height: 100%; }

.subsequentSection {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 2rem 10.3rem;
  background-color: #151515; }

.section-3_wrap em {
  color: inherit; }

.subsequentSectionLight, .section-3_wrapLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #E5E5E5; }

.s3-contentBox {
  background-color: rgba(249, 174, 174, 0.1); }
  .s3-contentBox em {
    color: inherit; }

.contentBoxLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #FCF2F2; }
  .contentBoxLight h1 {
    color: #333333; }
  .contentBoxLight p {
    color: #4f4f4f; }

.s2-contentBoxLight {
  background-color: #FCF2F2; }

.s3-contentBoxLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #F2F8FC; }
  .s3-contentBoxLight h1 {
    color: #333333; }
  .s3-contentBoxLight p {
    color: #4f4f4f; }

.contentBoxLight,
.s3-contentBoxLight,
.s4-contentBoxLight,
.s5-contentBoxLight,
.s6-contentBoxLight,
.s7-contentBoxLight,
.s8-contentBoxLight,
.contentBoxFooterLight {
  -webkit-box-shadow: inset 0px 0px 20px 3px #E5E5E5;
  box-shadow: inset 0px 0px 20px 3px #E5E5E5; }

.pForPadding {
  padding-top: 1.6rem;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.6rem; }

.h1-after {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  padding-bottom: 1.6rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase; }
  .h1-after::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    left: 0;
    bottom: 0;
    background-color: #F7AB48; }

.featuresWrapper {
  padding-top: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.1rem; }

.iconBoxWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.featuresP {
  font-size: 1.4rem;
  padding-left: 2rem;
  text-transform: uppercase; }

.iconWrap {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  background-color: #F7AB48;
  display: inline-block;
  padding: 1.28rem 1.34rem 1.219rem 1.28rem; }

.iconWrap3 {
  padding: 1.28rem 1.50rem 1.219rem 1.28rem; }

.iconWrap4 {
  padding: 1.28rem 1.268rem 1.219rem 1.28rem; }

.iconWrap2 {
  padding: 1.28rem 1.6rem 1.219rem 1.6rem; }

.s3-iconBoxWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem; }

.s3-iconWrap {
  background-color: #F7AB48;
  padding: .6rem .8rem .6rem .8rem;
  display: inline-block;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.s3-featureText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.s4-featureText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.s4-featuresWrapper {
  padding-top: 5rem;
  -ms-grid-row-align: start;
  align-self: start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.3rem; }

.section-4_wrapLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #E5E5E5; }

.s4-contentBox {
  background-color: rgba(179, 228, 255, 0.1); }

.s4-contentBoxLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #F9FCF2; }
  .s4-contentBoxLight h1 {
    color: #333333; }
  .s4-contentBoxLight p {
    color: #4f4f4f; }

.featuresH5 {
  font-size: 1.4rem;
  color: #F7AB48;
  padding-left: 2rem;
  font-weight: bold;
  text-transform: uppercase; }

.s3-contentCenterBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr; }

.s3-h1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3; }

.s3-rightBox {
  background-image: url(img/s3-bgRightBox.png);
  background-repeat: no-repeat;
  background-size: 85% 100%;
  background-position: right; }

.s3-rightBoxLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: url(img/s3-bgRightBoxLight.png); }

.s4-iconWrap {
  padding: .8rem;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start; }
  .s4-iconWrap > img {
    width: 4.8rem;
    height: 4.8rem; }

.s3-btnBox {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 3.5rem; }
  .s3-btnBox > a {
    display: inline-block; }

.s4-btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.5rem; }

.s4-iconBoxWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.conuterDivWrapper {
  padding: 2rem 5rem 0 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10rem; }

.counterDiv1, .counterDiv2, .counterDiv3 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  min-height: 10.780rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.counterDiv1 {
  background-image: url(img/01.png); }

.counterDiv2 {
  background-image: url(img/02.png); }

.counterDiv3 {
  background-image: url(img/03.png); }

.headerLogoLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: url(img/logoLight.png); }

.footerContacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 2.4rem; }

.contactsIcon1, .contactsIcon2, .contactsIcon3, .contactsIcon4 {
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  height: 3rem;
  width: 3rem;
  margin-left: 2rem; }

.footerHeadline {
  margin-bottom: 1rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3; }

.footerContactsWrap {
  grid-gap: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr; }

.footerContactsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 2.5rem;
  text-align: right; }

.contactsIcon1 {
  background-image: url(img/footerIcon1.png); }

.contactsIcon2 {
  background-image: url(img/footerIcon2.png); }

.contactsIcon3 {
  background-image: url(img/footerIcon3.png); }

.contactsIcon4 {
  background-image: url(img/footerIcon4.png); }

.contantsText > p {
  padding-left: 2.4rem;
  font-size: 1.6rem;
  color: #fff; }

.footerNetwork {
  padding-top: 14rem; }
  .footerNetwork > a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    font-size: 1.6rem;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 4rem; }
    .footerNetwork > a::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #BD843A;
      height: 2px;
      width: 0%;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .footerNetwork > a:hover {
      color: #BD843A; }
    .footerNetwork > a:hover::before {
      width: 50%; }

.footerMap {
  min-height: 170px; }
  .footerMap > iframe {
    min-height: 100%;
    width: 100%; }

.footerWrapLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #E5E5E5; }

.contactsIcon1Light {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: url(img/footerIcon1Light.png); }

.contactsIcon2Light {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: url(img/footerIcon2Light.png); }

.contactsIcon3Light {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: url(img/footerIcon3Light.png); }

.contactsIcon4Light {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-image: url(img/footerIcon4Light.png); }

.s5-contentBox {
  background-color: rgba(222, 255, 179, 0.1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr; }

.s5-content > p {
  padding-top: 2rem; }

.s5-headline {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3; }

.s5-featuresP {
  padding-left: 0; }

.s5-advantageH5Headline {
  font-size: 1.6rem;
  padding-top: 2rem;
  padding-left: 0; }

.s5-advantageWrap {
  padding-left: 3rem; }

.s5-iconBoxWrapper {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.s5-iconBox {
  min-height: 3.4rem;
  min-width: 3.4rem;
  background-color: #F7AB48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .s5-iconBox > span {
    color: #fff;
    font-weight: 700;
    font-size: 2rem; }

.s5-featuresP2 {
  padding-top: 2rem; }

.networkLight > a, .contactsLight > a {
  color: #828282;
  text-shadow: 0px 0px 1px #f0f0f0; }

.s5-contentBoxLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #F2FCFB; }
  .s5-contentBoxLight h1 {
    color: #333333; }
  .s5-contentBoxLight p {
    color: #4f4f4f; }

.section-5_wrapLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #E5E5E5; }

.sliderWrap {
  height: 100vh;
  padding: 200px;
  width: 100%;
  background-color: #333333; }

.slider {
  background-color: #fff;
  width: 500px;
  height: 277px;
  border: 10px solid lime; }

.slides {
  width: 1000px; }
  .slides::after {
    content: '';
    display: block;
    clear: both; }
  .slides > img {
    width: 250px;
    height: 277px;
    float: left; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border-radius: 0%;
  height: .8rem;
  width: .4rem;
  background-color: #fff;
  margin: 0; }

#fp-nav ul, .fp-slidesNav ul {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#fp-nav ul li:hover a span, .fp-slidesNav ul li a span {
  border-radius: 0%;
  height: .8rem;
  width: .4rem;
  background-color: #fff;
  margin: 0; }

#fp-nav ul::after, .fp-slidesNav ul::after {
  content: '›';
  color: #fff;
  position: absolute;
  top: -6rem;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 6.6rem;
  left: -.2rem; }

#fp-nav ul::before, .fp-slidesNav ul::before {
  content: '›';
  color: #fff;
  position: absolute;
  bottom: -6.6rem;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 6.6rem;
  left: 1.3rem; }

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  background-color: #F7AB48;
  border-radius: 0%;
  height: 3rem;
  width: .4rem;
  text-align: center;
  margin: -10px 0; }

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
  font-size: 3.6rem;
  -webkit-transform: translateY(-1.4rem);
  -ms-transform: translateY(-1.4rem);
  transform: translateY(-1.4rem); }

.sectionSlider {
  height: 100vh;
  width: 100%; }

.sliderImg {
  height: 100px; }

.box {
  border: 5px solid lime; }

.s7-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .s7-content > p {
    padding: 0; }
    .s7-content > p:first-child {
      font-size: 1.8rem;
      padding-top: 1rem;
      font-weight: bold; }
  .s7-content > a {
    display: inline-block;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 6rem 0 2.5rem 0; }
    .s7-content > a::after {
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      content: '→';
      color: rgba(247, 171, 72, 0.75);
      position: absolute;
      font-size: 4rem;
      right: -27%;
      top: 28%; }
    .s7-content > a:hover::after {
      right: -27%; }

.section-2_wrap {
  padding-top: 5rem; }

.s7-headline, .s7-sliderHeadline {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-bottom: 2rem; }

.s7-contentWrap {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr; }

.s7-imageWrap {
  background-image: url(img/s7-image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.s7WrapLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #E5E5E5; }

.s7-contentBox {
  background-color: rgba(179, 250, 255, 0.1); }

.s7-contentBoxLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #FCF2FB; }
  .s7-contentBoxLight h1 {
    color: #333333; }
  .s7-contentBoxLight p {
    color: #4f4f4f; }

.slide-1 {
  background-image: url(img/mainBgDark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
  width: 100%; }

.slide-1Light {
  background-image: url(img/mainBgLight.png); }

.slide-2 {
  background-image: url(img/interior-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
  width: 100%; }

.slide-3 {
  background-image: url(img/karaoke.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
  width: 100%; }

.slide-4 {
  background-image: url(img/interior.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
  width: 100%; }

.slide-5 {
  background-image: url(img/video_alberto_2.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 100%;
  width: 100%; }

.s6WrapLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #E5E5E5; }

.s6-contentBox {
  background-color: rgba(235, 179, 255, 0.1); }

.s6-contentBoxLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #F2F4FC; }
  .s6-contentBoxLight h1 {
    color: #333333; }
  .s6-contentBoxLight i {
    color: #4f4f4f; }

.swiper-container__wrap-1 {
  position: relative;
  margin-top: 3.5rem; }

.swiper-container__wrap-2 {
  position: relative; }

.swiper-container__wrap-3 {
  position: relative;
  margin-top: 2.5rem; }

.swiper-container-1 {
  height: 100%;
  width: 80%; }

.swiper-container-2 {
  height: 100%;
  width: 80%; }

.swiper-container-3 {
  height: 100%;
  width: 80%; }

.swiper-wrapper {
  height: 100%;
  width: 100%; }

.swiper-button-next, .swiper-button-prev {
  position: absolute; }

.swiper-button-next {
  right: 5rem;
  top: 50%;
  color: rgba(255, 255, 255, 0.75);
  border: 3px solid rgba(255, 255, 255, 0.75);
  font-weight: 900;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 2.4rem; }
  .swiper-button-next::after {
    content: '❯';
    font-size: 4rem; }
  .swiper-button-next:hover {
    color: white;
    border: 3px solid white; }

.swiper-button-prev {
  left: 5rem;
  top: 50%;
  color: rgba(255, 255, 255, 0.75);
  border: 3px solid rgba(255, 255, 255, 0.75);
  font-weight: 900;
  outline: none;
  padding: 2.4rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .swiper-button-prev::after {
    content: '❮';
    font-size: 4rem; }
  .swiper-button-prev:hover {
    color: white;
    border: 3px solid white; }

.swiper-button-nextLight {
  color: rgba(247, 171, 72, 0.75);
  border: 3px solid rgba(247, 171, 72, 0.75);
  font-weight: 900;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 2.4rem; }
  .swiper-button-nextLight::after {
    content: '❯';
    font-size: 4rem;
    color: rgba(247, 171, 72, 0.75); }
  .swiper-button-nextLight:hover {
    border: 3px solid rgba(247, 171, 72, 0.75); }

.swiper-button-prevLight {
  color: rgba(247, 171, 72, 0.75);
  border: 3px solid rgba(247, 171, 72, 0.75);
  font-weight: 900;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 2.4rem; }
  .swiper-button-prevLight::after {
    content: '❮';
    font-size: 4rem;
    color: rgba(247, 171, 72, 0.75); }
  .swiper-button-prevLight:hover {
    border: 3px solid rgba(247, 171, 72, 0.75); }

.swiper-button-next2 {
  color: rgba(247, 171, 72, 0.75);
  border: 3px solid rgba(247, 171, 72, 0.75);
  font-weight: 900;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 2.4rem; }
  .swiper-button-next2::after {
    content: '❯';
    font-size: 4rem;
    color: rgba(247, 171, 72, 0.75); }
  .swiper-button-next2:hover {
    border: 3px solid rgba(247, 171, 72, 0.75); }

.swiper-button-prev2 {
  color: rgba(247, 171, 72, 0.75);
  border: 3px solid rgba(247, 171, 72, 0.75);
  font-weight: 900;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 2.4rem; }
  .swiper-button-prev2::after {
    content: '❮';
    font-size: 4rem;
    color: rgba(247, 171, 72, 0.75); }
  .swiper-button-prev2:hover {
    border: 3px solid rgba(247, 171, 72, 0.75); }

.swiper-button-next3 {
  color: rgba(247, 171, 72, 0.75);
  border: 3px solid rgba(247, 171, 72, 0.75);
  font-weight: 900;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 2.4rem; }
  .swiper-button-next3::after {
    content: '❯';
    font-size: 4rem;
    color: rgba(247, 171, 72, 0.75); }
  .swiper-button-next3:hover {
    border: 3px solid rgba(247, 171, 72, 0.75); }

.swiper-button-prev3 {
  color: rgba(247, 171, 72, 0.75);
  border: 3px solid rgba(247, 171, 72, 0.75);
  font-weight: 900;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 2.4rem; }
  .swiper-button-prev3::after {
    content: '❮';
    font-size: 4rem;
    color: rgba(247, 171, 72, 0.75); }
  .swiper-button-prev3:hover {
    border: 3px solid rgba(247, 171, 72, 0.75); }

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .swiper-slide > i {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.8rem; }

.swiper-image {
  margin-bottom: 1rem;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%; }
  .swiper-image > img {
    height: 100%;
    width: 100%; }
  .swiper-image > div {
    position: absolute;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 171, 72, 0)), color-stop(0.01%, rgba(247, 171, 72, 0.75)));
    background: -webkit-linear-gradient(top, rgba(247, 171, 72, 0) 0%, rgba(247, 171, 72, 0.75) 0.01%);
    background: -o-linear-gradient(top, rgba(247, 171, 72, 0) 0%, rgba(247, 171, 72, 0.75) 0.01%);
    background: linear-gradient(180deg, rgba(247, 171, 72, 0) 0%, rgba(247, 171, 72, 0.75) 0.01%);
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    padding: 1rem 0; }
    .swiper-image > div > p:nth-child(1) {
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 2.2rem;
      text-transform: uppercase; }
    .swiper-image > div > p:nth-child(2) {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.7rem;
      text-transform: uppercase;
      padding-top: 1rem; }

.swiper-image2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .swiper-image2 > img {
    max-height: 129px;
    max-width: 150px; }
  .swiper-image2 > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .swiper-image2 > div > h5 {
      font-size: 1.8rem;
      padding-bottom: 1rem; }

.swiper-image3 {
  width: 100%;
  height: 100%;
  text-align: right; }
  .swiper-image3 > img {
    display: block;
    margin-bottom: 1rem;
    width: 100%; }
  .swiper-image3 a {
    color: #fff;
    text-decoration: underline; }

.swiper-container__wrap-main {
  height: 100%;
  width: 100%;
  z-index: 0; }

.swiper-container__main {
  height: 100%;
  width: 100%; }

.s8-contentBox {
  background-color: rgba(255, 243, 179, 0.1); }
  .s8-contentBox em {
    color: #000; }

.contentBoxFooter {
  background-color: rgba(255, 179, 179, 0.1); }

.section-8_wrapLight {
  background-color: #E5E5E5; }
  .section-8_wrapLight h1 {
    color: #333; }
  .section-8_wrapLight p {
    color: #4f4f4f; }
  .section-8_wrapLight a {
    color: #4f4f4f; }

.s8-contentBoxLight {
  background-color: #FCF2F2; }

.contentBoxFooterLight {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #FCFCF2; }
  .contentBoxFooterLight h1 {
    color: #333333; }
  .contentBoxFooterLight p {
    color: #4f4f4f; }
  .contentBoxFooterLight a {
    color: #4f4f4f; }

.headerNavWindow {
  background-color: #111111;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  z-index: 93;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-110%);
  -ms-transform: translateY(-110%);
  transform: translateY(-110%);
  text-transform: uppercase;
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.headerNavWindowBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  border: 2px solid lime;
  padding: 1rem; }
  .headerNavWindowBox a {
    font-size: 17px;
    text-transform: none;
    color: #fff;
    margin-right: 2rem;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative; }
  .headerNavWindowBox span {
    background-color: #888888;
    height: 34px;
    width: 34px;
    color: #fff;
    position: relative;
    line-height: 0; }
    .headerNavWindowBox span::before {
      content: '+';
      position: absolute;
      font-size: 22px;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

.windowLinkWrap {
  border-bottom: 1px solid #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 42px; }
  .windowLinkWrap a {
    padding-left: 1rem; }

.windowLinkWrapServices {
  border: 2px solid blue; }
  .windowLinkWrapServices em {
    line-height: 0; }

.windowLink {
  border-bottom: 1px solid #1D1D1D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 42px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  overflow: hidden; }
  .windowLink a {
    padding-left: 2rem; }

.windowLinkWrapper1 {
  border: 2px solid lime; }

.windowLinkWrapper1Active {
  height: 0;
  overflow: hidden;
  border: none; }

.headerNavWindowActive {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0); }

.mainHeadlineWrapActive {
  display: none; }

.infoCompanyActive {
  display: none; }

.arrowNext {
  margin-top: 2rem; }

.s2-arrowLight > a,
.s3-arrowLight > a,
.s4-arrowLight > a,
.s5-arrowLight > a,
.s6-arrowLight > a,
.s7-arrowLight > a,
.s8-arrowLight > a {
  color: rgba(21, 21, 21, 0.85);
  border: 2px solid rgba(21, 21, 21, 0.75); }
  .s2-arrowLight > a:hover,
  .s3-arrowLight > a:hover,
  .s4-arrowLight > a:hover,
  .s5-arrowLight > a:hover,
  .s6-arrowLight > a:hover,
  .s7-arrowLight > a:hover,
  .s8-arrowLight > a:hover {
    color: rgba(21, 21, 21, 0.85);
    border: 2px solid rgba(21, 21, 21, 0.75); }

.linkToTop {
  background-color: red;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 30%;
  left: 30%;
  z-index: 999;
  color: #fff;
  font-size: 20px; }

.animateBtn1Active::after,
.animateBtn2Active::after,
.animateBtn3Active::after,
.animateBtn4Active::after,
.animateBtn5Active::after {
  -webkit-transform: translate(30%);
  -ms-transform: translate(30%);
  transform: translate(30%); }
